ethereum-contracts/
foundry/
openzeppelin-relayer/
superfluid-dashboard/

.env
.env.*
!/.env.example
config/provider.json
config/oz-relayer/config.json
config/oz-relayer/networks/evm.json
config/oz-relayer/keys/*.json
data/
dist/
node_modules/
coverage/
*.log
*.sqlite
*.sqlite-shm
*.sqlite-wal
pnpm-debug.log*
.pnpm-store/

.cache/
tmp/

cache/
out/

.cursor/
