ethereum-contracts/
foundry/
openzeppelin-relayer/

.env
.env.*
!/.env.example
config/registry.json
config/oz-relayer/keys/*.json
data/
dist/
node_modules/
coverage/
*.log
*.sqlite
*.sqlite-shm
*.sqlite-wal
pnpm-debug.log*
.pnpm-store/

cache/
out/

.cursor/
